<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% if articles%}
        {% block content %}
        <ul>
            {% for article in articles%}
            <li><a href="{{ articles[article]['link']}}">{{ articles[article]['title'] }}</a></li>
            {% endfor%}
        </ul>
    {% endblock %}
{% endif%}
{% if names%}
        <ul>
            {% for name in names%}
            <li>{{ name }}</li>
            {% endfor%}
        </ul>
{% endif%}
</body>
</html>